<div class="newContainer">
    <div class="newPost">
        <div mat-card-avatar class="example-header-image"></div>
        <input class="txt" matInput placeholder="Start post something">
        <img class="send" src="assets/images/send.png">
    </div>
    <div class="footer">
        <div>
            <img class="footerimg" src="assets/images/photo.png"> <span>Photos</span>
        </div>
        <div>
            <img class="footerimg" src="assets/images/camera.png"> <span>Camera</span>
        </div>
    </div>
</div>