/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background: #8080803b;
    padding: 0;
    margin: 0;
}